{% extends "layout.html" %}

{% block body %}
  <h3 class="description" style="text-align:center">Our Mission</h3>
  <p style="text-align:center">Create a better event management service!</p>
  <br>
  <h3 class="description" style="text-align:center">The Team</h3>
  <div class="row">
    <div class="profile">
        <div class="img-box">
            <img id="cloudy-herd-headshot" height="275" width="275" src="https://scontent.fijd1-1.fna.fbcdn.net/v/t31.0-8/893645_10152710395080322_1418622757_o.jpg?oh=901c6cde84db8036676ea20b2cb06315&oe=5A76A7BA">
        </div>
        <h1><span id="cloudy-herd-name">cloudy-herd</span></h1>
    </div>

    <div class="profile">
        <div class="img-box">
            <img id="fair-emu-headshot" height="275" width="275" src="https://scontent.fijd1-1.fna.fbcdn.net/v/t1.0-1/12715725_10104699098700339_5846480040432522364_n.jpg?oh=ae1965418c47abf90b8e840d8f65acd4&oe=5AAA0D28">
        </div>
        <h1><span id="fair-emu-name">fair-emu</span></h1>
    </div>
    <div class="profile">
        <div class="img-box">
            <img id="cautious-flamingo-headshot" height="275" width="275" src="https://scontent.fijd1-1.fna.fbcdn.net/v/t1.0-9/20376183_1508572845866512_8172165978936505015_n.jpg?oh=701e8035c7c40363ed39994e5a80b2b1&oe=5AA7FADD">
        </div>
        <h1><span id="cautious-flamingo-name">cautious-flamingo</span></h1>
    </div>

    <div class="profile">
        <div class="img-box">
            <img id="healthy-gazelle-headshot" height="275" width="275" src="https://scontent.fijd1-1.fna.fbcdn.net/v/t1.0-9/20800032_855112881330981_2664654023631327404_n.jpg?oh=1ea3918510e19cbb77d2315110d6ac81&oe=5AACC931">
        </div>
        <h1><span id="healthy-gazelle-name">healthy-gazelle</span></h1>
    </div>
  </div>
  <br>
  <br>
  <h3 class="description" style="text-align:center">Our Development Schedule</h3>
  <a class="nav-link" href='/progress' style="text-align:center">Check out our sprint repsorts</a>
  <a class="nav-link" href="https://trello.com/b/dYAdNEsG" style="text-align:center">Check out our Trello Board</a>
{% endblock %}
