{% extends "layout.html" %}

{% block body %}
<section id="createEvent" class="page" style="text-align:center">
  <h3 class="description" style="color:#fff">Create Events</h3>
  <form method="post" action="/events/new">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <label for="title" style="color:#fff">Title</label>
      </div>
      <div class="col-md-auto">
        <input type="text" name="title" maxlength=30 placeholder="Title*" required="" size="23">
      </div>
      <div class="col-md-auto">
        <label for="location" style="color:#fff">Location</label>
      </div>
      <div class="col-md-auto">
        <input type="text" name="location" maxlength=30 placeholder="Location*" required=""size="23">
      </div>
    </div>
    <br>
    <div>
      <label for="year" style="color:#fff">Year *</label>
      <select name="year" required="">
        <option value="2017">2017</option>
        <option value="2018">2018</option>
      </select>
      <label for="month" style="color:#fff">Month *</label>
      <select name="month" required="">
          <option value="January">January</option>
          <option value="February">February</option>
          <option value="March">March</option>
          <option value="April">April</option>
          <option value="May">May</option>
          <option value="June">June</option>
          <option value="July">July</option>
          <option value="August">August</option>
          <option value="September">September</option>
          <option value="October">October</option>
          <option value="November">November</option>
          <option value="December">December</option>
      </select>
      <label for="day" style="color:#fff">Day *</label>
      <select name="day" required="">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
      </select>
      <label for="hour" style="color:#fff">Hour *</label>
      <select name="hour" required="">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
      </select>
      <label for="minute" style="color:#fff">Min *</label>
      <select name="minute" required="">
          <option value="00">00</option>
          <option value="30">30</option>
      </select>
    </div>
    <br>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <lable style="color:#fff">Description</lable>
      </div>
      <div class="col-md-auto">
        <textarea rows="4" cols="55" name="description" placeholder="Description"></textarea>
      </div>
    </div>
    <br>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <label for="image" style="color:#fff">Image URL</label>
      </div>
      <div class="col-md-auto">
        <input type="text" name="image" placeholder="URL *" size="37" required="">
      </div>
    <!---
      <input type="file" name="pic" accept="image/*" style="color:#fff">
    -->
      <div class="col-md-auto">
        <button name="submit" type="submit">Create</button>
      </div>
    </div>
  </form>
  <br>
</section>
{% if errors %}
<ul class="form-errors">
  {% for error in errors %}
  <li class="error">{{error}}</li>
  {% endfor %}
</ul>
{% endif %}
<!--
<form method="get">
  <label for="q">Search</label>
  <input type="text" name="q" value="">
  <button type="submit">Submit</button>
</form>
-->
{% endblock %}
